{% extends 'v2admin.html' %}
{% load static %}
{% block content %}

 <style>
  .card {
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
  min-width: 150px;
  height: 100px; 
  margin-left: 70px;
  margin-top: 100px;

      

  

}

.popup {
  display: none;
  position: fixed;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px dashed #ccc;
  padding: 20px;
  background-color: #fff;
}

.archived {
  display: none; 
}

</style>
<script>
  let draggedCard = null;


function drag(event) {
  draggedCard = event.target;
  const popup = document.getElementById("popup");
  popup.style.display = "block"; 
}


function allowDrop(event) {
  event.preventDefault();
}


function drop(event) {
  event.preventDefault();
  const popup = document.getElementById("popup");
  const cardsContainer = document.getElementById("cards");

  
  const archivedCard = draggedCard.cloneNode(true);
  archivedCard.classList.add("archived");
 
  archiveCard(draggedCard.id);

  draggedCard.parentNode.removeChild(draggedCard);

 
  popup.style.display = "none";
}


function archiveCard(cardId) {
  let archivedCards = JSON.parse(localStorage.getItem("archivedCards")) || [];
  archivedCards.push(cardId);
  localStorage.setItem("archivedCards", JSON.stringify(archivedCards));
}


function loadCards() {
  const cardsContainer = document.getElementById("cards");
  const allCards = [
    { id: "card1", text: "Card 1" },
    { id: "card2", text: "Card 2" },
    { id: "card3", text: "Card 3" },
    { id: "card4", text: "Card 4" },
    { id: "card5", text: "Card 5" },
    
  ];

  
  const archivedCardIds = JSON.parse(localStorage.getItem("archivedCards")) || [];

  
  const nonArchivedCards = allCards.filter(card => !archivedCardIds.includes(card.id));

  
  nonArchivedCards.forEach(cardData => {
    const card = document.createElement("div");
    card.textContent = cardData.text;
    card.classList.add("card");
    card.setAttribute("id", cardData.id);
    card.setAttribute("draggable", true);
    card.setAttribute("ondragstart", "drag(event)");
    cardsContainer.appendChild(card);
  });
}


document.addEventListener("DOMContentLoaded", loadCards);


 


</script>
<div class="col main pt-5 mt-5">
  <h1 style="text-align:center" class="display-4 ">Dashboard</h1>  
    <!-- <h1 class="display-4 d-none d-sm-block text black" style="text-align: center;">Dashboard</h1>  -->
  <div class="row placeholders mb-3">
      <div class="col-xl-3 col-sm-6 py-2">
          <div class="card1 bg-success text-white h-100">
              <div class="card-body" style="background-color: rgb(159, 222, 159);">
                  <div class="rotate">
                      <i class="fa fa-user fa-4x"></i>
                  </div>
                  <h6 class="text-uppercase">Tweets</h6>
                  <h1 class="display-4">121</h1>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-sm-6 py-2">
          <div class="card1 text-white bg-danger h-100">
              <div class="card-body " style="background-color: rgb(135, 164, 232);">
                  <div class="rotate">
                      <i class="fa fa-list fa-4x"></i>
                  </div>
                  <h6 class="text-uppercase">Tweets</h6>
                  <h1 class="display-4">121</h1>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-sm-6 py-2">
          <div class="card1 text-white bg-info h-100">
              <div class="card-body" style="background-color: rgb(226, 128, 117);">
                  <div class="rotate">
                      <i class="fa fa-twitter fa-4x"></i>
                  </div>
                  <h6 class="text-uppercase">Tweets</h6>
                  <h1 class="display-4">122</h1>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-sm-6 py-2">
        <div class="card1 text-white bg-info h-100">
            <div class="card-body " style="background-color: pink;">
                <div class="rotate">
                    <i class="fa fa-twitter fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Tweets</h6>
                <h1 class="display-4">124</h1>
            </div>
        </div>
    </div> 
  </div>
  <div class="container">
    <h1 style="text-align: center;">Cards</h1>

 
    <div id="popup" class="popup" ondrop="drop(event)" ondragover="allowDrop(event)">
      <h2>Popup Folder</h2>
    </div>
   
    <div id="cards" class="row">
      
    </div>
  <h1 style="text-align: center;">CRMO</h1>
  <div class="row placeholders" style="margin-bottom: 50px;">
    <div class="col-6 col-sm-3 placeholder text-center">
        <img src="{% static 'images/marketing.webp' %}" class="mx-auto img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Marketing</h4>
        <span class="text-muted">Device agnostic</span>  
    </div>
    <div class="col-6 col-sm-3 placeholder text-center">
        <img src="{% static 'images/enable automation.png' %}" class="mx-auto img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Support</h4>
        <span class="text-muted">UI / UX oriented</span>  
    </div>
    <div class="col-6 col-sm-3 placeholder text-center">
        <img src="{% static 'images/marketing.webp' %}" class="mx-auto img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Sales</h4>
        <span class="text-muted">Standards-based</span>  
    </div>
    <div class="col-6 col-sm-3 placeholder text-center">
        <img src="{% static 'images/enable automation.png' %}" class="center-block img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Feedback</h4>
        <span class="text-muted">CSS and JavaScript</span>  
    </div>
  </div>
  
  </div>
  
  
  
 
  
  </div>
 
  
  {% endblock %}
   




  



